@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
}
.header{
    background-color: green;
    display: flex;
  justify-content: space-between;

}
h1{
    font-size: 30px;
    color: white;
    margin-left: 4px;
}
 ul{
    gap: 10px;
    display: flex;
   margin-right: 20px;
 font-size: 20px;
    list-style: none;
    color: #ffffff;
    padding: 10px;
}
.main{
    display: flex;
    justify-content: space-evenly;
}
.img{
    border-radius: 100%;
    width: 220px;
    height: 220px;
    margin-top: 30px;
}
.title h1{
font-size: 50px;
margin-top: 50px;

}
.btn{
background-color: rgb(205, 67, 17);
padding: 15px;
border-radius: 5%;
border-color: white;
border: 2px;
color: white;
margin-top: 20px;
}
.footer{
    background-color: green;
    padding: 5px;
    margin-top: 30px;
    color: white;
    
}
.footer h1{
    text-align: center;
}
 